* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
	background:#2c3e50;
	
}
h1 {
    color: red;
    text-align: center; 
    font-size: 5em;  
    
}


snowman .tophat {
  position: relative;
  width: 100px;
  height: 100px;
  
  margin-top: 50px;
  background: black;
  z-index: 1;
  
}

snowman .brim{
  position: relative;
  width: 160px;
  height: 10px;
  background: black;
  border-radius: 10px;
  margin-left: -4%;

  z-index: 1;
}

snowman .hat {
  margin-left: 50%;
  z-index: 1;
}
snowman .head {
  position: relative;
  margin-left: 48.5%;
  margin-top: -20px;
    
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
}

snowman .leftEye {
  position: relative;
  
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  
}


snowman .rightEye {
  position: relative;
  margin-left: 20px;
  
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:black;
  
}

snowman .eyes {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  margin-top: -100px;
}

snowman .nose {
  position:relative;
  width: 0;
  height: 0;
  margin-left: 49%;
  margin-top: 5px;
  border-top: 10px solid transparent;
  border-right: 50px solid orangered;
  border-bottom: 10px solid transparent;
}

snowman .mouth {
  position: relative;
  margin-left: 50%;
  margin-top: -10px;
  width: 80px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 5px 0 0 black;
}

snowman .scarf {
  border-bottom: 21px solid rgb(209, 27, 27);
  border-left: 18px solid transparent;
  border-right: 29px solid transparent;
  height: 0;
  width: 136px;
  position: relative;
  margin-top: 20px;
  margin-left: 46%;
  z-index: 30;
  left: 50px;
  border-radius: 0px 100% 5px 10px;
}

snowman .scarf:after {
  width: 74px;
  height: 17px;
  -webkit-transform: rotate(86deg);
  -moz-transform: rotate(86deg);
  transform: rotate(86deg);
  background: rgb(209, 27, 27);
  display: inline-block;
  content: "";
  position: relative;
  top: 34px;
  left: 15px;
  border-radius: 50% 0% 50% 50%;
  box-shadow: -4px 0px rgba(0,0,0,0.1) inset;
}

snowman .bottom {
  position: relative;
  margin-left: 47%;
   
  margin-top: -120px;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%; 
}

#buttonGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 8;
}
.button1 {
  position: relative;
  margin-left: 52%;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;  
  z-index: 8;
}

.button2   {
  position: relative;
  margin-left: 52%;
  
  
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;  
  z-index: 8;
}

.ground {
  position: relative;
  
  width: 100vw;
  height: 120px;
  background:white;
  margin-top: -10px;  
  
}

#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

.snowflake {
  position: fixed;
  background-color: #CCC;
  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}


.trunk {
  width: 50px;
  height: 100px;
  background: #794123;
  margin-top: -200px;
  margin-left: 180px;
  z-index: 15;
}

.treeBottom {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 200px solid green;
  z-index: 16;
  margin-top: -275px;
  margin-left: 60px;
}

.treeMiddle {
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  border-bottom: 200px solid green;
  z-index: 17;
  margin-top: -275px;
  margin-left: 80px;
}


.treeTop {
  width: 0;
  height: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 175px solid green;
  z-index: 17;
  margin-top: -275px;
  margin-left: 115px;
}
/* 
.star-five {
  margin-top: -175px;
  margin-left: 150px;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid yellow;
  border-left: 50px solid transparent;
  transform: rotate(35deg);
  z-index: 17;
  
}
.star-five:before {
  border-bottom: 40px solid red;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -22.5px;
  left: -32.5px;
  display: block;
  content: '';
  transform: rotate(-35deg);
  z-index: 17;
  
}
.star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid blue;
  border-left: 50px solid transparent;
  transform: rotate(-70deg);
  content: '';
  z-index: 17;
   */
}